/* Style sheet for FPX About Page */
/*** By Wade **********************/


.wrapper {
	background-image: url(img/background-fill.jpg);

}
.header {
	 background-image: url(img/background-top.jpg);
	 top: 0;
}

h2 {
	font-size: 18px;
	color: #f7f7f7;
}

h3 {
	font-size: 14px;
	color: #f7f7f7;
}
p { 
	font-size: 12px;
	color:#f7f7f7;
}
