
/* Author: Decoders;
 * Title: stylesheet.scss;
*/
/* Author: Decoders;
 * Title: stylesheet.scss;
*/
/* line 5, assets/sass/_body.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 10, assets/sass/_body.scss */
#map-canvas {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 1280px;
  margin: 0;
  padding: 0;
}

.wrapper {
	background-image: url('assets/background-fill.jpg');
	z-index: 1;
	color: #fff;
} 

.header {
	background-image: url('assets/background-top.jpg');
	z-index: 2;
	margin: 0;
	display: block;
	background-repeat: repeat-x;
}

.top {
	display: block;
}

h2 {
	text-align: center;
}

ul { 
	list-style: none;
}

