/* Style sheet for FPX About Page */
/*** By Wade **********************/


.wrapper-about {
	background-image: url(../background-fill.jpg);
	z-index: 1;

}
.header-about {
	 background-image: url(../background-top4.png);
	 top: 0;
	 z-index: 2;
	 display: inline;
}

h4 {
	font-size: 18px;
	color: #f7f7f7;
}

.text-about {
	padding: 10px;
}

.about-name {
	font-size: 20px;
	color: #fff;
}
p { 
	font-size: 12px;
	color:#f7f7f7;
}
.info {
	list-style: none;
}

.about-logo {
	z-index: 3;
	margin: 0 auto;
}

.facebook-link {
	margin: 0 auto;
}
.twitter-link {
	margin: 0 auto;
}