/* Author: Decoders;
 * Title: stylesheet.scss;
*/
/* Author: Decoders;
 * Title: stylesheet.scss;
*/

html, body {
  margin: 0;
  padding: 0;
  width:100%;
  height: 100%;
}

/* ***Start Jared 301014 wrapper for sticky footer. 100% height fix*/
  /* Wrapper for page content to push down footer */
  #wrap-ace { 
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -14%;
    /* Pad bottom by footer height */
    padding: 0 0 14%;
  }

  #wrap-king { 
    height: 400px;
  }


/* ***Start Jared 301014 wrapper for sticky footer. 100% height fix*/

.map-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
}

#map-canvas{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}


.logo {
  z-index: 100;
  position: fixed;
  margin-top: 10px;
  width: 40%;
  max-width: 350px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}


.text {
  font-family: Helvetica, Sans-Serif;
  z-index: 99;
  padding-top: 10px;
  position: fixed;
  left: 45%;
}

.text h2 {
  color: #f4d103;
}

.text h3 {
  color: #fff;
}

/* Media query for header background and text ============================================================== */
@media screen and (max-width: 600px) {
  /* line 57, ../sass/_body.scss */
  .text h2 {
    font-size: 19px;
    line-height: 0;
  }
  /* line 61, ../sass/_body.scss */
  .text h3 {
    font-size: 10px;
  }

  /* line 65, ../sass/_body.scss */
  .header {
    max-height: 105px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  /* line 72, ../sass/_body.scss */
  .text h2 {
    font-size: 40px;
    line-height: 0.5;
  }
  /* line 76, ../sass/_body.scss */
  .text h3 {
    font-size: 15px;
  }

  /* line 80, ../sass/_body.scss */
  .header {
    max-height: 150px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 87, ../sass/_body.scss */
  .text h2 {
    font-size: 60px;
    line-height: 0.5;
  }
  /* line 91, ../sass/_body.scss */
  .text h3 {
    font-size: 20px;
  }

  /* line 95, ../sass/_body.scss */
  .header {
    max-height: 185px;
  }
}



