/* Author: Decoders;
 * Title: stylesheet.scss;
*/

<<<<<<< HEAD
/*----- Mel 11/11/14 - footer adjustments -----*/

#footerSlideContainer{
	position:fixed;
    left:0px;
    bottom:0px;
    height:15%; /* changed height to 15% */
    width:100%;
}


.backgroundtop {
	max-height: 150px;
	background-image: url('../../assets/img/background-top.jpg');
	background-repeat: repeat-x; 
	background-size: 960px 150px;
}

.backgroundfill {
	height: 100%;
 	background-image: url('../../assets/img/background-fill.jpg'); 
}

/*---- Mel footer adjustment end ----*/
=======
#footerSlideContainer{
	background-image: url('../../assets/img/background-top.jpg'); 
	background-size: 960px 150px;
	position:fixed;
    left:0px;
    bottom:0px;
    height:14%;
    width:100%;
}
>>>>>>> b9a15861502c396aa5c78ce2f33644aff2f1ccf5
