/*Author: Decode*/
/* Author: Decoders;
 * Title: stylesheet.scss;
*/
/* Author: Decoders;
 * Title: stylesheet.scss;
*/
/* line 8, ../sass/_body.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* ***Start Jared 301014 wrapper for sticky footer. 100% height fix*/
/* Wrapper for page content to push down footer */
/* line 17, ../sass/_body.scss */
#wrap-ace {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -14%;
  /* Pad bottom by footer height */
  padding: 0 0 14%;
}

/* line 26, ../sass/_body.scss */
#wrap-king {
  height: 400px;
}

/* ***Start Jared 301014 wrapper for sticky footer. 100% height fix*/
/* line 33, ../sass/_body.scss */
.map-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

/* line 39, ../sass/_body.scss */
#map-canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 55, ../sass/_body.scss */
.logo {
  z-index: 100;
  position: fixed;
  margin-top: 10px;
  width: 40%;
  max-width: 350px;
}

/* line 63, ../sass/_body.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}

/* line 72, ../sass/_body.scss */
.text {
  font-family: Helvetica, Sans-Serif;
  z-index: 99;
  padding-top: 10px;
  position: fixed;
  left: 45%;
}

/* line 80, ../sass/_body.scss */
.text h2 {
  color: #f4d103;
}

/* line 84, ../sass/_body.scss */
.text h3 {
  color: #fff;
}

/* Media query for header background and text ============================================================== */
@media screen and (max-width: 600px) {
  /* line 57, ../sass/_body.scss */
  /* line 91, ../sass/_body.scss */
  .text h2 {
    font-size: 19px;
    line-height: 0;
  }

  /* line 61, ../sass/_body.scss */
  /* line 96, ../sass/_body.scss */
  .text h3 {
    font-size: 10px;
  }

  /* line 65, ../sass/_body.scss */
  /* line 101, ../sass/_body.scss */
  .header {
    max-height: 105px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  /* line 72, ../sass/_body.scss */
  /* line 107, ../sass/_body.scss */
  .text h2 {
    font-size: 40px;
    line-height: 0.5;
  }

  /* line 76, ../sass/_body.scss */
  /* line 112, ../sass/_body.scss */
  .text h3 {
    font-size: 15px;
  }

  /* line 80, ../sass/_body.scss */
  /* line 117, ../sass/_body.scss */
  .header {
    max-height: 150px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 87, ../sass/_body.scss */
  /* line 123, ../sass/_body.scss */
  .text h2 {
    font-size: 60px;
    line-height: 0.5;
  }

  /* line 91, ../sass/_body.scss */
  /* line 128, ../sass/_body.scss */
  .text h3 {
    font-size: 20px;
  }

  /* line 95, ../sass/_body.scss */
  /* line 133, ../sass/_body.scss */
  .header {
    max-height: 185px;
  }
}
/* Style sheet for FPX About Page */
/*** By Wade **********************/
/* line 5, ../sass/_about.scss */
.wrapper-about {
  background-image: url(../background-fill.jpg);
  z-index: 1;
}

/* line 10, ../sass/_about.scss */
.header-about {
  background-image: url(../background-top4.png);
  top: 0;
  z-index: 2;
  display: inline;
}

/* line 17, ../sass/_about.scss */
h4 {
  font-size: 18px;
  color: #f7f7f7;
}

/* line 22, ../sass/_about.scss */
.text-about {
  padding: 10px;
}

/* line 26, ../sass/_about.scss */
.about-name {
  font-size: 20px;
  color: #fff;
}

/* line 30, ../sass/_about.scss */
p {
  font-size: 12px;
  color: #f7f7f7;
}

/* line 34, ../sass/_about.scss */
.info {
  list-style: none;
}

/* line 38, ../sass/_about.scss */
.about-logo {
  z-index: 3;
  margin: 0 auto;
}

/* line 43, ../sass/_about.scss */
.facebook-link {
  margin: 0 auto;
}

/* line 46, ../sass/_about.scss */
.twitter-link {
  margin: 0 auto;
}

/* Author: Decoders;
 * Title: stylesheet.scss;
*/
/* line 5, ../sass/_footer.scss */
#footerSlideContainer {
  background-image: url("../../assets/img/background-top.jpg");
  background-size: 960px 150px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 14%;
  width: 100%;
}
